#body {
    background-color: transparent;
    overflow: auto;
}

.conti {
    display: none;
    width: 33vw;
    height: 100vh;
    right: 0;
    background-color: rgba(31, 31, 31, 0.613);
    color: white;
    transition: all 350ms;
}

.conti2 {
    display: none;
    width: 33vw;
    height: 100vh;
    right: 0;
    background-color: rgba(31, 31, 31, 0.613);
    color: white;
}

.gorog {
    height: 80vh;
    overflow: auto;
    color: white;
}

output {
    margin-top: 10px;
    margin-left: 10px;
}

td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 100px;
    max-width: 10px;
}

table {
    width: 100%;

}

.kgomb {
    margin: 2px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: auto;
    background-color: rgba(42, 42, 42, 0.705);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 100px;
    transition: all 200ms;
    border: 1px solid #0966bee2;
}

.kgomb:hover {
    background-color: #0966beb3;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 100px;
}

.ggomb {
    margin: 10px;
    height: 2vw;
    text-align: center;
    padding: auto;
    background-color: rgba(42, 42, 42, 0.705);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 100px;
    transition: all 200ms;
    border: 1px solid #0966bee2;
}

.ggomb:hover {
    background-color: #0966beb3;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 100px;
}

.disabled {
    cursor: default;
    background-color: #0966beb3;
    color: rgb(179, 179, 179);
    text-decoration: none;
    border-radius: 100px;
}
 
.disabled:hover {
    cursor: default;
    background-color: #0966beb3;
    color: rgb(179, 179, 179);
    text-decoration: none;
    border-radius: 100px;
}

.ment {
    padding: 1vw;
    width: 13vw;
    height: 4vw;
    background-color: rgba(42, 42, 42, 0.705);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 100px;
    transition: all 200ms;
    border: 1px solid #0966bee2;
}

.ment:hover {
    padding: 1vw;
    width: 15vw;
    height: 4vw;
    background-color: #0966beb3;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 100px;
}

.buy {
    padding: 1vw;
    width: 13vw;
    height: 4vw;
    background-color: rgba(42, 42, 42, 0.705);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 100px;
    transition: all 200ms;
    border: 1px solid #0966bee2;
}

.buy:hover {
    padding: 1vw;
    width: 15vw;
    height: 4vw;
    background-color: #0966beb3;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 100px;
}

.submit {
    display: none;
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    padding: 1vw;
    width: 13vw;
    height: 4vw;
    background-color: rgba(42, 42, 42, 0.705);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 100px;
    transition: all 200ms;
    border: 1px solid #0966bee2;
}
.submit:hover {
    padding: 1vw;
    width: 15vw;
    height: 4vw;
    background-color: #0966beb3;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 100px;
}

#bezaras {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 50px;
}

.notification {
    display: none;
    /* position: absolute;
    bottom: 250px;
    left: 28px;
    background-color: rgba(42, 42, 42, 0.801);
    height: 80px;
    width: 270.5px;
    border-radius: 30px;
 */
    --b: 5px;   /* thickness of the border */
    --c: red;   /* color of the border */
    --w: 20px;  /* width of border */
    --r: 30px;  /* radius */
    
  
    padding: var(--b); /* space for the border */
    
    position:absolute;
    /*Irrelevant code*/  
    height: 100px;
    width: 270.5px;
    border-radius: 40px;
    box-sizing:border-box;
    align-items:center;
    text-align:center;
    background-color: rgba(42, 42, 42, 0.801);
    bottom: 250px;
    left: 28px;
    color: white;
    padding: 10px;
}

.notification::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--c,red);
    padding: var(--b);
    border-radius: var(--r);
    -webkit-mask:
      linear-gradient(  0deg,#000 calc(2*var(--b)),#0000 0) 50% var(--b)/calc(100% - 2*var(--w)) 100% repeat-y,
      linear-gradient(-90deg,#000 calc(2*var(--b)),#0000 0) var(--b) 50%/100% calc(100% - 2*var(--w)) repeat-x,
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: destination-out;
            mask-composite: exclude;
}


::-webkit-scrollbar {
  width: 10px;
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: rgba(42, 42, 42, 0.705);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 100px;
}